<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Runtime.Simulation" value="0" />
        <add key="Security.AdminPassword" value="1234" />
        <add key="Log.RetentionDays" value="30" />
        <add key="Log.AutoDelete" value="true" />
        <add key="Log.MaximumFileSizeMb" value="20" />
        <add key="Station1.IpAddress" value="172.20.9.100" />
        <add key="Station1.Plc.AutoConnect" value="false" />
        <add key="Station1.Plc.Port" value="10000" />
        <add key="Station1.Plc.Encoding" value="Binary" />
        <add key="Station1.Plc.Transport" value="TCP" />
        <add key="Station1.Plc.Frame" value="3E" />
        <add key="Station1.Plc.Processor" value="Q" />
        <add key="Station1.Plc.RemotePassword" value="" />
        <add key="Station1.Plc.PollIntervalMs" value="1000" />
        <add key="Station1.Plc.ReconnectDelayMs" value="2000" />
        <add key="Station1.Plc.TimeoutMs" value="3000" />
        <add key="Station1.Plc.LoadScale" value="1000" />
        <add key="Station1.Plc.MaxGraphPoints" value="0" />
        <add key="Station1.Plc.RequestDevice" value="D810" />
        <add key="Station1.Plc.LoadRawDevice" value="D700" />
        <add key="Station1.Plc.StartRequestValue" value="1" />
        <add key="Station1.Plc.EndRequestValue" value="0" />
        <add key="Station1.Lot.SaveCount" value="600" />
        <add key="Station1.Inspection.ThresholdKgf" value="0.40" />
        <add key="Station1.Graph.XAuto" value="true" />
        <add key="Station1.Graph.XMin" value="0" />
        <add key="Station1.Graph.XMax" value="60" />
        <add key="Station1.Graph.XInterval" value="6.6" />
        <add key="Station1.Graph.YAuto" value="true" />
        <add key="Station1.Graph.YMin" value="0" />
        <add key="Station1.Graph.YMax" value="0.40" />
        <add key="Station1.Graph.YInterval" value="0.2" />
        <add key="Station2.IpAddress" value="172.20.9.101" />
        <add key="Station2.Plc.AutoConnect" value="false" />
        <add key="Station2.Plc.Port" value="10000" />
        <add key="Station2.Plc.Encoding" value="Binary" />
        <add key="Station2.Plc.Transport" value="TCP" />
        <add key="Station2.Plc.Frame" value="3E" />
        <add key="Station2.Plc.Processor" value="Q" />
        <add key="Station2.Plc.RemotePassword" value="" />
        <add key="Station2.Plc.PollIntervalMs" value="1000" />
        <add key="Station2.Plc.ReconnectDelayMs" value="2000" />
        <add key="Station2.Plc.TimeoutMs" value="3000" />
        <add key="Station2.Plc.LoadScale" value="1000" />
        <add key="Station2.Plc.MaxGraphPoints" value="0" />
        <add key="Station2.Plc.RequestDevice" value="D810" />
        <add key="Station2.Plc.LoadRawDevice" value="D700" />
        <add key="Station2.Plc.StartRequestValue" value="1" />
        <add key="Station2.Plc.EndRequestValue" value="0" />
        <add key="Station2.Lot.SaveCount" value="600" />
        <add key="Station2.Inspection.ThresholdKgf" value="0.40" />
        <add key="Station2.Graph.XAuto" value="true" />
        <add key="Station2.Graph.XMin" value="0" />
        <add key="Station2.Graph.XMax" value="60" />
        <add key="Station2.Graph.XInterval" value="6.6" />
        <add key="Station2.Graph.YAuto" value="true" />
        <add key="Station2.Graph.YMin" value="0" />
        <add key="Station2.Graph.YMax" value="0.40" />
        <add key="Station2.Graph.YInterval" value="0.2" />
    </appSettings>
</configuration>